/* CSS placed here will be applied to all skins */
/* section-based ol numbering*/

/* Highlight colours for edits etc. */
.revision {
  background:#00ffff;
}
.note{
  background:#00FF00;
}

/* Remove mediawiki TOC numbering, which always starts with 1*/
span.tocnumber{
  display: none;
}

/* Rules numbering for headings and TOC*/
body, div#toc+h2 {
  counter-reset: h2Counter h3Counter h4Counter tableCounter;
}
.rulesNumbering .toc ul {
  list-style-type: none;
}
.rulesNumbering h1:before, li.toclevel-1>a>span.toctext:before {
  content: counter(page) " ";
}

.rulesNumbering h2, li.toclevel-2 {
  counter-reset: h3Counter h4Counter;
  counter-increment: h2Counter;
}
.rulesNumbering h2:before, li.toclevel-2>a>span.toctext:before {
  content: counter(page) "." counter(h2Counter) " ";
}
.rulesNumbering h3, li.toclevel-3 {
  counter-reset: h4Counter;
  counter-increment: h3Counter;
}
.rulesNumbering h3:before, li.toclevel-3>a>span.toctext:before{
  content: counter(page) "." counter(h2Counter) "." counter(h3Counter) " ";
}
.rulesNumbering h4, li.toclevel-4{
  counter-increment: h4Counter;
}
.rulesNumbering h4:before, li.toclevel-4>a>span.toctext:before {
  content: counter(page) "." counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) " ";
}
/* this is required to stop the 'contents' heading in the ToC from becoming '1 contents' */
.rulesNumbering .toctitle h2 {
  counter-increment: none;
}
.rulesNumbering .toctitle h2:before {
  content: none;
}
/* styling for ordered lists */
.rulesNumbering ol {
  list-style-type: decimal;
}
.rulesNumbering ol>li>ol{
  list-style-type: lower-alpha;
}
.rulesNumbering ol>li>ol>li>ol{
  list-style-type: lower-roman;
}
.rulesNumbering ul{
  text-indent: 0px;
  list-style-type: circle;
}
.rulesNumbering ul>li>ul {
  text-indent: 0px;
  list-style-type: circle;
}
.rulesNumbering ul>li>ul>li>ul {
  text-indent: 0px;
  list-style-type: circle;
}
caption:before {
  counter-increment: tableCounter;
  content: "Table " counter(page) "." counter(tableCounter) " ";
}

/* Giving table borders */
table.withBorders {
  border-collapse: collapse;
}
.withBorders, .withBorders th, .withBorders td {
  border: 2px solid black;
}

/* Disable 'Switch to old look' menu item */
div.vector-main-menu-action {
  display:none;
}
/* Hide the display title, so the H1 can do its job */
h1#firstHeading{
  display:none;
}


/* Sidebar text */
div.makepdfbook-sidebar-title{
  font-size: 18px;
}
div.makepdfbook-book-title{
  font-size: 16px;
  display: inline-block;
}
div.makepdfbook-pdf-icon {
  display: inline-block;
}
div.makepdfbook-book-chapters{
  border-top: 1px solid #888888;
  margin-left: 1em;
}
div.makepdfbook-chapter-title{
  font-size: 14px;
}
div.makepdfbook-book-content{
  border-top: 2px solid #f0f0f0;
}
div.makepdfbook-active-book{
  background-color: lightgrey;
}
ul.makepdfbook-book-list{

}

/* widen the left panel */
div#mw-panel{
  /* margin-top:10em; */
  width:300px;
  font-size: 1em;
}
#content{
  margin-left: 300px;
  min-height: 75vh;
}
#left-navigation{
  margin-left: 300px;
  /* margin-top: 17.5em; */
}
#right-navigation{
  /* margin-top: 17.5em; */
}
#footer{
  margin-left: 300px;
}
#mw-head-base {
  margin-left: 300px;
  /* height:20em; */
}
div#p-logo {
  width: 15em;
  /* height: 20em; */
  /* top: -19em; */
}
.mw-wiki-logo{
    width: 300px !important;
    /* height: 20em !important; */
}
div#mw-panel div.portal div.body ul li {
  font-size: 0.875em;
} 